body {
  margin: 0 auto;
}
.form-top {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-hangman {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-hangman img {
  width: 400px;
  height: auto;
}

.word-container {
  display: flex;
  justify-content: center;
}

.char-container {
  border-bottom: 1px solid black;
  width: 2rem;
  margin: 1.25rem;
  font-size: 4rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.char-inactive {
  visibility: hidden;
}

.char-active {
  visibility: visible;
}

.alphabet-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 70%;
  justify-content: center;
}

.alphabet .letter {
  border: none;
  background: transparent;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
  background-color: rgba(103, 103, 140, 0.641);
  border-radius: 3rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.alphabet .letter:hover {
  transform: translateX(20px);
  transform: translatey(20px);
}

.game-over {
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
}

.form-container {
  display: flex;
  width: 80%;
}

.form-restart {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 3rem;
}

.form-restart button {
  border: none;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
